<router-outlet></router-outlet>

<div class="universal">
<div class="foot-bg mt-0">
    <div class="container pb-3 ">
      <div class="row">
        <div class="col-12 col-md-4 ">
          <div class="row">
            <div class="col-8 pt-3 ml-1 ml-lg-0 text-bluee">
                <h4 class="mb-0">
                  SEAP MFI
                </h4>
                <p class="mt-0">
                  Development with Vision.
                </p>
            </div>
          </div>
 
          <p class="text-white pl-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          </p>
 
          <div class="mb-2">
             <span class="fa-stack fa-sm mr-1">
               <i class="fa fa-circle fa-stack-2x text-white" ></i>
               <i class="fa fa-facebook fa-stack-1x  text-blue "></i>
             </span>  
             <span class="fa-stack fa-sm mr-1">
               <i class="fa fa-circle fa-stack-2x text-white" ></i>
               <i class="fa fa-twitter fa-stack-1x  text-info "></i>
             </span>
             <span class="fa-stack fa-sm mr-1">
               <i class="fa fa-circle fa-stack-2x text-white" ></i>
               <i class="fa fa-instagram fa-stack-1x  text-purple "></i>
             </span>
             <span class="fa-stack fa-sm mr-1">
               <i class="fa fa-circle fa-stack-2x text-white" ></i>
               <i class="fa fa-whatsapp fa-stack-1x  text-green "></i>
             </span>
             <span class="fa-stack fa-sm mr-1">
               <i class="fa fa-circle fa-stack-2x text-white" ></i>
               <i class="fa fa-pinterest-p fa-stack-1x  text-danger "></i>
             </span>      
           </div>
 
           <div>
             <p class="text-white">
               Read Our <a href=""> Terms and Conditions</a>
             </p>
           </div>     
        </div>
 
        <div class="col-12 col-md-4">
          <p class="foot-text foot-border py-3"> Quick Links</p>
 
          <div class="foot-border-2 py-1 ">
            <a href="#" class="text-white">Services</a>
          </div>
          <div class="foot-border-2 py-1 ">
            <a href="#" class="text-white">Funds</a>
          </div>
          <div class="foot-border-2 py-1 ">
            <a href="#" class="text-white">Investments</a>
          </div>
          <div class="foot-border-2 py-1 ">
            <a href="#" class="text-white">About Us</a>
          </div>
          <div class="foot-border-2 py-1 ">
            <a href="#" class="text-white">Contact US</a>
          </div>
        </div>
 
        <div class="col-12 col-md-4">
          <p class="foot-text foot-border py-3"> Reach Us</p>
 
          <div>
            <p class="text-white">
              N0 1, Western Reservoir, Olorunsogo, Ilorin Kwara State Nigeria 
            </p>
          </div>
          <div class="py-1">
            <span class="text-white">
              <i class="fa fa-phone"> 08033465859</i>
            </span>
          </div>
          <div class="py-2">
            <span class="text-white ">
              <i class="fa fa-envelope pr-4"> enquires@seaponline.org</i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
